@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,100&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Raleway:ital,wght@1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin-bottom: 100px;
    background-color: black;
    color: #04AA6D;
}

.barraNavegacao {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.barraNavegacao a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.barraNavegacao a:hover {
    background-color: tomato;
    color: black;
}

.barraNavegacao a.active {
    background-color: orange;
    color: white;
}

.barraNavegacao .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .barraNavegacao a {
        display: none;
    }

    .barraNavegacao a.icon {
        background-color: orange;
        float: center;
        display: block;
    }

    .barraNavegacao.responsive .icon {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .barraNavegacao.responsive a {
        float: none;
        display: flex;
        text-align: center;
    }

    .grid-container .topo h1 {
        font-size: 5rem;
        text-align: start;
    }


}

/*------------- parte principal------------- */
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #2196F3;
}
.grid-container > div {
    justify-content: space-evenly;
    gap: 10px;

}
.topo {
    grid-column-start: 1;
    grid-column-end: 6;
    max-width: 100%;
    justify-content: center;
    padding: 1%;
    /* align-items: center; */
    background-color: #1d1e20;
}

.topo h1 {
    font-size: 10rem;
    font-family: 'Germania One', cursive;
    color: orange;
    position: relative;
    top: 150;
    text-align: center;
    text-shadow: 0.08em 0.08em 0em rgba(179, 179, 176, 0.50);
}

.topo img {
    float: left;
    width: 200px;
    height: 200px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center
}

.grid-apresentacao {
    background-color: aqua;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 1rem;
    color:#1d1e20;
    text-align: center
}

/* .grid-menuLateral{
    width: 70%;
	float: right;
    text-align: center;
}

#menu {
    position: fixed;
    right: 0;
    top: 50%;
    width: 8em;
    margin-top: -2.5em;
}
#menu ul li {
		margin: 0; padding: 0px;
		border-bottom: 1px solid #CCC;
		text-align: left;
		list-style-type: none;
}
#menu a:link {
    background: #F5F5F5;
    color: #666;
    font-weight: bold;
    text-decoration: none;
    padding: 8px;
    display: block;
}
#menu a:hover {
    background: #E5F0FF;
    color: #039;
} */

.grid-motivacao {
    background-color: royalblue;
}

.grid-testemunho {
    background-color: olivedrab;
}

.grid-rodape {
    background-color: silver;
}

.social {
    background-color: silver;
}

.grid-contato {
    background-color: palevioletred;
    align-items: center;
    font-size: 1rem;
}

form {
    max-width: 90%;

}

input,
textarea {
    max-width: 90%;
    color: black;
    border: 1px solid;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
    border-color: #000066;
    box-shadow: 5px 0px 9px #FFFF00;
    background-color: #66FFFF;
    color: black;
}

.enviar {
    background-color: #66FFFF;
    height: 40px;
    width: 90%;
    border-radius: 5px;
    border: 1px solid;
    color: black;
}

textarea {
    height: 100px;
    line-height: 20px;
    max-width: auto;
}

form label {
    margin-left: 20px;
    color: #FFFFFF;
    font-weight: bold;
}