@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


/* h1 h2 h3 {
    color: rgb(210, 30, 171);
}

p {
    font-size: 1.1rem;
    color: rgb(22, 21, 21);
    background: #b7f3f3;
    padding: 3%;
}

body::-webkit-scrollbar-button {
    background: magenta;
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background: #cfc;
}

body::-webkit-scrollbar-track-piece {
    background: #fff;
}

body::-webkit-scrollbar-thumb {
    background: yellowgreen;
    border-radius: 6px;
} */



body{
    background-color: black;
    background-image: url(/Landpage/img/Synthwave_background.png);
    opacity: 0,3;
    background-repeat: repeat-x;
    text-align:center;
	margin:auto;text-align:center;
    border-radius: 5px;
    margin: 10px;
    }


#header{
	height:150px;
    width:auto; 
	background-color:#b9a22b;
	padding:0;
	}
	
#header h1{
	font-size:1em;
	margin:0;
	padding:10px;
	}
	
#header h1 a{
	color:#000000;
    text-decoration: none;
	}
	
#colunaEsquerda{
	width:auto;
	background:#db1515;
	border-top:#FFFFFF 2px solid;
	margin:0;
	padding:0;
	}
	
#colunaDireita{
	height:25%;
	background:#F6F0E0;
	border-top:#FFFFFF 2px solid;
	margin:0;
	padding:0;
	}
	
#footer{
	height:50px;
	background:#BFBD93;
	border-top:#FFFFFF 2px solid;
	margin:0;
	padding:0;
	}